body {
    background-color: rgb(96, 255, 175);
}
.title {
    margin-top: 20px;
    margin-bottom: 30px;
}
.main {
    border-radius: 25px;
    background-color: white;
}
.footer {
    height: 150px;
}