<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>PickRate</th>
            <th>WinRate</th>
            <th>BanRate</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">gaeg</td>
            <td>geag</td>
            <td>geag</td>
            <td>geag</td>
            <td>geag</td>
        </tr>
        <tr>
            <td scope="row">geag</td>
            <td>geag</td>
            <td>geag</td>
            <td>geag</td>
            <td>geag</td>
        </tr>
    </tbody>
</table>